@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Me</h2>
<img src="~/Content/myphoto.jpg" class="img img-responsive"/>
<h1>Yordan Yordanov</h1>
<address>
    <strong>Phone:</strong>   <a href="#">0879317180</a><br />
    <strong>Email:</strong> <a href="mailto:jordanov.jordan@ue-varna.bg">jordanov.jordan@ue-varna.bg</a>
</address>