@using TaskManagementSystem.Models.ViewModels
@model IEnumerable<TaskManagementSystem.Models.ViewModels.AddCommentTaskVm>


@{
    ViewBag.Title = "Add";
}

<h2>Add Comment</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="task">Task: </label>
        <select name="taskId" id="task" class="form-control">
            @foreach (var task in Model)
            {
                <option value="@task.Id">@task.TaskDescription</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Comment: </label>
        <textarea id="CommentDescription" name="CommentDescription" class="form-control" placeholder="Description" minlength="30"></textarea>
    </div>

    <div class="form-group">
        <label for="CommentType">Comment Type: </label>
        <select name="CommentType" id="CommentType" class="form-control">
            <option value="CommentType1">Comment Type 1</option>
            <option value="CommentType2">Comment Type 2</option>
            <option value="CommentType3">Comment Type 3</option>

        </select>
    </div>

    <div class="form-group">
        <label>Reminder Date: </label>
        <input type="date" value="" id="ReminderDate" name="ReminderDate" class="form-control" />
    </div>


    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-default" />
    </div>
}



